#avoid csv files, json in all folders and subfolders except uploads
*.csv
website/static/filter_config/*.json

#ignore database
instance/*.db


#temp folder
__pycache__/


#avoid all html files under the folder visuals
website/static/visuals/*.html