#avoid csv files, json in all folders and subfolders except uploads
*.csv
website/static/filter_config/*.json
!website/static/uploads/*.csv


#avoid all html files under the folder visuals
website/static/visuals/*.html